body{
    background-color:rgb(245,245,245);
    font-family: Arial;
}

input, select{
    width: 0;
    display: none;
}

.clear{
    clear:both;
}

#mainTable{
    width:100%;
}

#menu_td_wrapper{
    min-width:120px;
    height:120px;
    background-color: white;
    box-shadow: -3px -4px 10px 2px rgb(150,150,150);
}

#timeLine_td_wrapper{
    width:100%;
    min-width:800px;
    height:120px;
    background-color: white;
    box-shadow: 3px -3px 10px 2px rgb(150,150,150);
}

#imgOptions_td_wrapper{
    min-width:120px;
    height:1000px;
    background-color: white;
    box-shadow: 3px 3px 10px 2px rgb(150,150,150);
}

#cameraOptions_td_wrapper{
    background-color: white;
    box-shadow: -3px 3px 10px 2px rgb(150,150,150);
}

#imgCanvas_td_wrapper{
    /*background-color: white;
    box-shadow: 3px 3px 10px 2px rgb(150,150,150);*/
}

#borders_td_wrapper{
    background-color: white;
    box-shadow: 0 0 5px 0 rgb(150,150,150);
    height:200px;
}

.sp-replacer{
    display: block;
    margin: 0 auto;
    width:50px;
}

#timLine_bg{
    width: 792px;
    padding: 0 0 20px 0;
    margin: 0 auto;
}

#timeLine_visual_bg{
    width: 100%;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 25px;
    height: 17px;

    margin-top:5px;
}