body{
    background-color:rgb(245,245,245);
    font-family: Arial;
}
.clear{
    clear:both;
}

.menu-wrapper{
    position:fixed;
    width:100%;
    height:100%;

    -webkit-transition: 1.0s;
    -moz-transition:  1.0s;
    -ms-transition:  1.0s;
    -o-transition:  1.0s;
    transition:  1.0s;
}
.menu-wrapper-left{
    width:350px;
    background-color:rgb(85,85,85);
}
.menu-wrapper-short{

}
.menu-div{
    max-width: 600px;
    min-width: 300px;
    padding: 10px 0;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 3px 10px rgb(180,180,180);
    cursor: pointer;
    border-top: 1px solid white;
    text-align:left;

    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}
.menu-div span{
    opacity:0;
    font-size: 25px;
    color: rgb(121,144,155);

    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}
.menu-wrapper-left .menu-div{
    padding-left:5px;
    margin-top: 0;
    margin-bottom:  0;
    background-color:   transparent;
    box-shadow: none;
    text-align: left;
    border-top: 1px solid rgb(95,95,95);
}
.menu-wrapper-left .menu-div span{
    font-size:  20px;
    color:  #C4C4C4;
}
.menu-div:hover span{
    color:black;

    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}
.menu-wrapper-left .menu-div:hover span{
    color:white;
}
.menu-wrapper-left #top-part-menu{
    opacity:1;
    display:block;
    height: 33px;
}

#top-part-menu{
    max-width: 600px;
    min-width: 300px;
    padding: 10px 0 10px 5px;
    opacity:0;
    height:0;
    overflow: hidden;
    /*display:none;
*/
    -webkit-transition: 1.0s;
    -moz-transition:  1.0s;
    -ms-transition:  1.0s;
    -o-transition:  1.0s;
    transition:  1.0s;
}
.hamburger-line{
    height: 6px;
    background-color: rgb(60,60,60);
    width: 40px;
    margin-top: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px 0 rgb(0,0,0);

    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}
.menu-wrapper-left #hamburger-wrapper #hamburger-s-line{
    margin-left:10px;
}
.menu-wrapper-left #hamburger-wrapper #hamburger-t-line{
    margin-left:20px;
}
#hamburger-text{
    color:  rgb(180,180,180);
    font-size:  25px;
    margin:7px 0 0 5px;
}
#hamburger-wrapper{
    float:left;
    text-align:left;
    cursor:pointer;
}
#hamburger-wrapper:hover .hamburger-line{
    background-color: white;

    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}
#hamburger-text{
    float:left;
}