/*СТИЛИ ОБШИХ ЭЛЕМЕНТОВ*/
body {
    background-color: rgb(242,242,242);
    font-family: Arial;
    background-repeat: no-repeat;
    background-position: top,center;
}
.clear {
    clear: both;
}

/*ОСНОВНЫЕ БЛОКИ*/
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1270px;
}
#head {
    background-image: url('../img/topAbstractDraw.png');
    background-repeat: no-repeat;
    background-position: top,center;
    padding: 27px 147px 0 147px;
}
#content {
    background-image: url('../img/centerAbstractDraw.png');
    background-repeat: no-repeat;
    background-position: 0 180px;
}
#content-padding{
    padding: 148px 147px 0 147px;
}
.horizontal-line{
    background-color:rgb(204,204,204);
    width:100%;
    height:1px;
}
#banner-line{
    margin-top:75px;
}
#under-banner-line{
    margin-top:30px;
}

/*БАННЕРЫ*/
.banner {
    width: 726px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(230,230,230);
    border: 1px solid rgb(204,204,204);
    color: rgb(204,204,204);
    font-size: 30px;
    text-align: center;
}
.banner:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.banner span {
    display: inline-block;
    vertical-align: middle;
}
#top-banner {

}
#center-banner {
    margin-top:-45px;
}

/*КНОПКИ ПЕРЕКЛЮЧЕНИЯ ВЕРСИИ САЙТА*/
#site-version-button-wrapper{
    margin-top: -36px;
}
.site-version-button {
    width: 33px;
    height: 33px;
    background-repeat: repeat-x;
    float:left;
    text-align: center;
}
.site-version-button:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.site-version-button span {
    display: inline-block;
    vertical-align: middle;
    margin-left:-5px;
}
#site-version-button-on {
    background-image: url('../img/siteVersionOnBG.png');
    color: rgb(204, 204, 204);
    border-left:1px solid rgb(192, 192, 192);
    box-shadow: 0 -1px 0 0 rgb(60, 60, 60);
}
#site-version-button-off {
    background-image: url('../img/siteVersionOffBG.png');
    color: rgb(51, 51, 51);
    border-left:1px solid rgb(177,177,177);
    border-right:1px solid rgb(177,177,177);
    border-top:1px solid rgb(203,203,203);
    box-shadow: 0 1px 0 0 rgb(60, 60, 60);
    cursor:pointer;
}
#site-version-button-off span {
    text-shadow: 0 1px 0 white;
}

/*КНОПКИ ЛИЧНОГО КАБИНЕТА ЛК*/
#lk-button-wrapper {
    padding-top:51px;
    font-size:16px;
    color: rgb(51,51,51);
}
#lk-button-enter {
    float:right;
    text-decoration: underline;
}
#lk-button-registration {
    float:right;
    text-decoration: underline;
    padding-left:25px;
    padding-right:2px;
}

/*ЛОГОТИП*/
#logo {
    float:left;
}

/*ВЕРХНЕЕ МЕНЮ*/
#top-menu-wrapper {
    padding-top:23px;
}
#top-menu-table-wrapper {
    float:right;
    margin-top:15px;
    border-bottom:1px solid rgb(73, 73, 73);
    position:relative;
    z-index: 3;
}
#top-menu-table {

}
#top-menu-table td {
    vertical-align: middle;
    text-align:center;
    border-top:1px solid rgb(203,203,203);
    border-left:1px solid rgb(185,185,185);
    border-right:1px solid rgb(185,185,185);
    border-bottom:1px solid rgb(145, 145, 145);
}
#top-menu-table td div {
    border-top:1px solid white;
    padding:7px 33px;
    border-left:1px solid rgb(246, 246, 246);
    font-size:18px;
    background-image: url('../img/topMenuBG.png');
    background-repeat: repeat;
    color: rgb(51,51,51);
    text-shadow: 0 1px 0 white;
}
#top-menu-lane-wrapper {
    float: right;
    width: 151px;
    margin-right: -629px;
    margin-top: 29px;
    position: relative;
    z-index: 2;
}
#top-menu-lane-circle {
    float: left;
    width: 5px;
    height: 5px;
    border: 1px solid rgb(204, 204, 204);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#top-menu-lane-line {
    float: left;
    width: 144px;
    border-top: 1px solid rgb(204, 204, 204);
    margin-top: 3px;
}

/*Заголовки*/
#label-wrapper {
    float:left;
    padding: 10px 35px 0 0;
}
#label-wrapper span {
    color: rgb(51,51,51);
    font-size:28px;
}
.label-switcher-wrapper {
    float:left;
    padding-left: 10px;
}
.label-switcher {
    font-size:28px;
    padding: 10px;
}
.label-switcher.switch-on{
    color: white;
    background-color: rgb(204,0,0);
}
.label-switcher.switch-off{
    color: rgb(51,51,51);
    text-decoration: underline;
    cursor: pointer;
}
.label-low-switcher-wrapper {
    float:left;
    padding-left:60px;
}
.label-low-switcher-wrapper:first-of-type{
    padding-left:0;
}
.label-low-switcher {
    font-size: 19px;
}
.label-low-switcher.switch-on {
    background-color: rgb(204,0,0);
    color: white;
    padding: 3px 8px;
}
.label-low-switcher.switch-off {
    border-bottom:1px dashed rgb(51,51,51);
    color: rgb(51,51,51);
    padding: 3px 0;
    cursor: pointer;
}

/*НАСТРОЙКИ ПОИСКА*/
#searching-tools-table {
    width: 100%
}
#searching-tools-table tr td:first-of-type {
    padding-top: 15px;
}
#search-wrapper {
    float: right;
}
#search-grey-bubble{
    background-color: rgba(153,153,153,0.4);
    padding:15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
/*--СЕЛЕКТЫ*/
select[name='select-country'] {
    background: transparent;
    border: 0;
    padding: 5px;
    font-size: 12px;
    -webkit-appearance: none;
    width: 170px;
    background: url('../img/selectButton.png') no-repeat right;
    background-position: 131px 4px;
    color: rgb(102,102,102);
}
select[name='select-town'] {
    background: transparent;
    border: 0;
    padding: 5px;
    font-size: 12px;
    -webkit-appearance: none;
    width: 170px;
    background: url('../img/selectButton.png') no-repeat right;
    background-position: 131px 4px;
    color: rgb(102,102,102);
}
.search-select-div{
    float:left;
    width: 150px;
    background: rgb(236,236,236);
    background: linear-gradient(to top, rgb(242,242,242), rgb(230,230,230));
    border-radius: 9px;
    border-top: 1px solid rgb(127,127,127);
    border-left: 1px solid rgb(127,127,127);
    box-shadow: inset 0 1px 3px 0 rgb(127,127,127);
    overflow: hidden;
}
#search-text-div{
    float:left;
    background: rgb(236,236,236);
    background: linear-gradient(to top, rgb(242,242,242), rgb(230,230,230));
    border-radius: 9px;
    border-top: 1px solid rgb(127,127,127);
    border-left: 1px solid rgb(127,127,127);
    box-shadow: inset 0 1px 3px 0 rgb(127,127,127);
    overflow: hidden;
    margin-top:10px;
}
input[name='name-search']{
    background: transparent;
    border: 0;
    padding: 5px;
    font-size: 12px;
    width: 100px;
    color: rgb(102,102,102);
}

#search-switcher-bg{
    float:right;
    background: rgb(236,236,236);
    background: linear-gradient(to top, rgb(242,242,242), rgb(230,230,230));
    border-radius: 9px;
    border-top: 1px solid rgb(127,127,127);
    border-left: 1px solid rgb(127,127,127);
    box-shadow: inset 0 1px 3px 0 rgb(127,127,127);
    overflow: hidden;
    margin-top:10px;
    margin-left:20px;
    position:relative;
    color: rgb(102,102,102);
}
#search-switcher-bg input{
    display: none;
}
#search-switcher-button{
    float:left;
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background:linear-gradient(to top, rgb(206,206,206), rgb(228,228,228));
    border-top:1px solid white;
    border-bottom: 1px solid rgb(156, 156, 156);
    border-left: 1px solid rgb(178,178,178);
    border-right: 1px solid rgb(178,178,178);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    z-index:3;
}
#search-switcher-m{
    border: 0;
    padding: 6px 11px;
    font-size: 12px;
    float:left;
    position:relative;
    z-index:4;
    cursor:pointer;
}
#search-switcher-f{
    border: 0;
    padding: 6px 11px;
    font-size: 12px;
    float:left;
    position:relative;
    z-index:4;
    cursor:pointer;
}
#search-switcher-a{
    border: 0;
    padding: 6px 11px;
    font-size: 12px;
    float:left;
    position:relative;
    z-index:4;
    cursor:pointer;
}

/*ГАЛЕРЕЯ*/

#gallery-wrapper{
    padding-top:30px;
}
#photos-wrapper{
    min-height:585px;
}
.photo-wrapper{
    width:122px;
    height:117px;
    overflow: hidden;
    float:left;
    cursor:pointer;
}
.photo-text{
    width:114px;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
    margin-top:-26px;
    padding:3px 0;
    background:rgba(255,255,255,0.6);
    text-align: center;
    position:relative;
}
.cover-photo{
    background-image: url('../img/clickedPhoto.png');
    background-repeat: no-repeat;
    width:122px;
    height:117px;
    margin-top:-115px;
    position:relative;
}
#photo-more-info-wrapper{
    position:absolute;
    font-size:12px;
    line-height: 1.5em;
    visibility: hidden;
    z-index:1000;
}
#photo-more-info-background{
    background-color:rgb(242,242,242);
    padding:10px;
    box-shadow: 2px 2px 5px 0 rgba(102,102,102,0.75);
}
.photo-more-info-leftColumn{
    float:left;
    padding:5px 5px 5px 10px;
}
.photo-more-info-rightColumn{
    float:left;
    padding:5px 10px 5px 5px;
}
#photo-more-info-infoPoint{
    padding:5px 10px;
    color:rgb(153,153,153);
}
#photo-more-info-corner{
    width:1px;
    height:1px;
    border:10px solid transparent;
    border-top:11px solid rgb(242,242,242);
    border-left:10px solid rgb(242,242,242);
}

/*--ПАГИНАЦИЯ*/

#gallery-pagination-wrapper{
    padding-top:30px;
}
#pagination-block{
    margin-top:-14px;
    padding: 0 147px 0 147px;
}
.arrowBox{
    padding: 6px 15px 2px 15px;
    text-align:center;
    background-repeat: repeat-x;
    float:left;
    background-image: url('../img/paginationArrowBG.png');
    color: rgb(51, 51, 51);
    border-left:1px solid rgb(177,177,177);
    border-right:1px solid rgb(177,177,177);
    border-top:1px solid rgb(203,203,203);
    box-shadow: 0 1px 0 0 rgb(60, 60, 60);
    cursor:pointer;
}
#page-numbers-wrapper{
    overflow: hidden;
    width:892px;
    height:25px;
    float:left;
    background-image: url('../img/paginationNumsBG.png');
    background-repeat: repeat-x;
}
#page-numbers-container{

}
.page-number-button{
    padding: 6px 15px 2px 15px;
    background-image: url('../img/paginationNumsBG.png');
    background-repeat: repeat-x;
    border-right: 1px solid rgb(204,204,204);
    border-bottom : 1px solid rgb(204,204,204);
    border-left: 1px solid rgb(204,204,204);
    /*box-shadow: 0 -1px 0 0 rgb(60, 60, 60);*/
}
.page-number-button.now{
    background: rgb(209,0,0) !important;
    color: white;
    border-color:rgb(209,0,0);
}

/*FOOTER*/
#partners-wrapper{
    padding:20px;
    text-align:center;
}
.partner-wrapper{
    display:inline-block;
    padding:0 20px;
}
#bottom-content-block{
    width:100%;
    margin-top:30px;
    background-image: url('../img/bottomBlockBG.png');
    background-repeat: repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding:35px 20px 20px 20px;
    border:1px solid rgb(190,190,190);
    color: rgb(102,102,102);
}
#bottom-content-block table td{
    padding-right:100px;
    padding-bottom:5px;
    text-decoration: underline;
}